<!DOCTYPE html>
<html>
    <head>

        <meta charset="UTF-8">

        <title>{% block title %}Welcome!{% endblock %}</title>


        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('build/app.css') }}">

        {% endblock %}

    </head>

    <body>

        {% block nav %}

            {% include 'nav.html.twig' %}

        {% endblock %}

        <main role="main" class="container">

            {% block content %}

                <h1>Bootstrap starter template</h1>
                <p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a
                    mostly barebones HTML document.</p>

            {% endblock %}

        </main>


        <script src="{{ asset('build/app.js') }}"></script>

        {% block javascripts %}

        {% endblock %}

    </body>

</html>
